<h2>From login</h2>
Email:    <%= params[:email] %><br />
Password: <%= params[:password] %><br />
<a href="/login">Back to login</a>
<br />

<h2>From signup</h2>
Name:                   <%= params[:name] %><br />
Email:                  <%= params[:email] %><br />
Password:               <%= params[:password] %><br />
Password Confiramation: <%= params[:password_confirmation] %><br />
<a href="/signup">Back to signup</a>
<br />

<%= # TODO %>
